// out: null

// global styles 
/* !Headings and Titles --------------------------------------------------- */
//.title 
//.subtile
// .hgroup (heading wrapper) 
// .hgroup__title
// .hgroup__subtitle

//modifiers
//.title--splash
//.subtitle--splash

/* ! Titles --------------------------------------------- */ 

.title, .subtitle {
    text-transform: uppercase;
    
}

.title {
     //.kilo(); // total height 2.5 x baseline
    font-weight: 500;    
}
/*.d-section--style-1 .title{
    font-weight: 300;
}*/

.subtitle {
    .gamma ();
    .letterspacing120();
}
.title, .subtitle{
    color: @titlecolor;
} 

.d-section--text {
    .title{
        //color: #3e78bc;
    }
    .subtitle{
        font-weight: 300;
        margin-top: 0;
        //color: #3e78bc;
    }
}
.d-section--style-banner{
    .title, .subtitle{
        color: @white;
    }
}

.d-section--style-media .title{
    margin-top: 0;
    margin-bottom: 1.5em;
}

// Modifiers ----------------------------------------

// Component in situ 
